<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gradysimon.peppermint" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gradysimon.peppermint.TopicBrowseActivity"
            android:label="TopicBrowseActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gradysimon.peppermint.TopicBrowseActivity" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gradysimon.peppermint.ConversationBrowseActivity"
            android:label="@string/title_activity_conversation_browse"
            android:parentActivityName=".TopicBrowseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="BrowseActivity" />
        </activity>
    </application>

</manifest>
